/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
Our style starts here
*/

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.2;
    font-family: 'Rubik', sans-serif;
    background-color: black;
    font-size:1em;
    
}


nav{
    
    position: fixed;
    margin-top:0px;
    width: calc(100% - 10px);
    height: calc(15vh - 10px);
    z-index: 5;
    padding: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#logo{
    width: 25%;
    
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    
    
}


#logo img{
    width: 90%;
    display:inline-block;
    margin: auto;
    position: relative;
    
}

#navigation{
    
    width: 25%;
    
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;

}

.dropdown{
    display:inline-block;
    margin: auto;
    position: relative;
    

}

.dropbtn {
    
    border: none;
    background-color: transparent; 
    
}







.dropdown-content {
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: fixed;
    top: 15vh;
    left: 20vw;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    left:0;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;

}

.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content,
.dropdown:hover .dropdown-content {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.dropdown-content div{
    position: fixed;
    margin-left:0;
    width: 100vw;
    background-color: rgba(255, 255, 255,0.95);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}







.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 8px 0;
}


#home{
    height: 100vh;
    
}

#main_sentence{
    height: 100%;
    top: calc(50% - 30px);
    width: 100%;
    position: fixed;
    max-width: 1400px;
    padding-left: 20px;
    font-size: 2.5em;
    z-index: 1;
}





/*
Limpar codigo dos videos
*/

#video-viewport {
    margin-top: 0px;
    max-width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    background-color: white;
}

.wp-video {
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    background-color: white;
    
    
}



video{
    margin-top: -1px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    filter: opacity(40%);
    width:100%;
    height: 100%;
    object-fit: cover;
    background-color: rgb(39, 26, 26);
}


#main_sentence h1{
    font-weight: 400;
    text-align:left;
    filter: opacity(100%);

}

footer{
    
    width: calc(100%px);
    height: calc(15vh - 10px);
    padding: 5px 0px 5px 15px;
    z-index: 3;
    position: sticky;
    left: 0;
    bottom: 0;
}

a{
    text-decoration: none;
    color: black;
}
#conditions{
    display: inline-block;
    width: 50%;
    
    font-size: 0.8em;
    height: 100%;
}

.conditionsdiv{
    height: 25%;
    padding-left:5px;
}
#social{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    
    float: right;
}

#social div{
    
    display: block;
    margin: auto;
    padding:0;
    width: 100%;
    text-align: center;
    margin-bottom:20px;
}

#social a{
    padding-left: 12px;
    font-size:1.6em;
    color: black;
}

#description, #team{
    background-color: white;
    position: relative;
    height: 185vh;
    z-index: 4;
}




#services, #gallery{
    padding-top: 15vh;
    height: 85vh;
    background-color: rgb(57, 50, 87);
    position: relative;
    z-index: 4;
}

#services{
    background-color: rgb(133, 127, 158);
}

.column{
    height: calc(42.5vh - 5px);
    margin: 5px;
    padding-left:13px;
    padding-right:13px;
    
}

.column2{
    height: calc(38.5vh); 
    background-color: yellow;
}

.column3{
    height: calc(46.5vh); 
    background-color: red;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.icon{
    height: 50%;
}



.text{
    height: 50%;
    padding: 10px 5px 0 5px;
    
    
}




h1{
    height: 100%;
}


h3{
    font-size: 1.8em;
}
p {
    
}


#contact{
    height: 70vh;
    padding-top: 15vh;
    background-color: aqua;
    position: relative;
    z-index: 4;
}


.titles{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    text-align: center;

}


.titles2   {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    text-align: center;

}


#a-icon{
    height: 50%;
    background-color: rgb(138, 60, 60);
}


#list{
    height: 40vh;
    padding: 10px;
    
}

#list div{
    height: 50%;
    height: 50%;
    
    font-size: 1em;
    line-height: 1.5;
    
}

#list div p{
    line-height: 1.5;
}

br{
    line-height: 150%;
}

ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    
}

h4{
    font-weight: 900;
    padding-top:10px;
    padding-bottom: 10px;
}

#others ul{
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;

}





#photos {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


/*
slideshow
*/



@media only screen and (min-width: 600px){
    
    .titles{
        background-color: rgb(121, 16, 39);
    }
    
    .conditionsdiv{
        display:inline;
    }

    .pair{
        height: 42.5vh;
        width: 100%;
        display:flex;
        flex-direction: row;
    }

    .column{
        width: 50%;
    }

    #description{
        height: 100vh;
    }
    
    
}



@media only screen and (min-width: 1000px){
    
    .four{
        display:flex;
        flex-direction: row;
    }

    
.container {
    max-width: 1400px;
   margin:auto;
}

    

    
}






